[submodule "capture"]
	path = capture
	url = https://github.com/cetic/foren6-capture.git
[submodule "analyzer"]
	path = analyzer
	url = https://github.com/cetic/foren6-analyzer.git
[submodule "gui-qt"]
	path = gui-qt
	url = https://github.com/cetic/foren6-gui-qt.git
