[submodule "capture"]
	path = capture
	url = ssh://git@git.cetic.be:61011/lowpan-diagnosis-tool/capture
[submodule "analyzer"]
	path = analyzer
	url = ssh://git@git.cetic.be:61011/lowpan-diagnosis-tool/analyzer
[submodule "gui-qt"]
	path = gui-qt
	url = ssh://git@git.cetic.be:61011/lowpan-diagnosis-tool/gui-qt
