[submodule "capture"]
        path = capture
        url = ../foren6-capture.git
[submodule "analyzer"]
        path = analyzer
        url = ../foren6-analyzer.git
[submodule "gui-qt"]
        path = gui-qt
        url = ../foren6-gui-qt.git
